<link rel="stylesheet" href="/css/footer.css">
<footer id="layout-footer">
    <div>
        <p>
            🕸 Codial.  All Rights Reserved
        </p>
    </div>

    <div>
        <nav class="footer-nav">
            <ul>
                <li>
                    <% if(locals.user && locals.user.id==user.id){%>
                        <a href="/users/profile/<%=user.id%>"><%=user.name%></a>
                    <%}%>
                </li>
                <li>
                    <a href="/users/profile">Profile</a>
                </li>
            </ul>
        </nav>
    </div>
</footer>